<div class="home">
    <section class="module parallax parallax-1">
        <div class="container hero-unit">
            <%= form_tag(meal_path, id: "foodForm", method: "get", remote: true, class: "form-horizontal", role: "form") do %>
                <div class="form-group">
                    <div class="input-group col-sm-12">
                        <div class="input-group-addon">$</div>
                        <%= text_field_tag("money", nil, class: "form-control", placeholder: "13.37", type: "number", step: "any", min: "0") %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-sm-12">
                        <%= select_tag("source", options_for_select(@sources), class: "form-control") %><br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <%= submit_tag("Give me some Taco Bell", class: "btn btn-primary")%>
                    </div>
                </div>
            <% end %>

        </div>
    </section>

    <div class="container">
        <div id="foodResult">
        </div>
    </div>
</div>

<!-- Templates -->

<script id="calories-template" type="text/x-handlebars-template">
    <div id="totalCalories"><h1>{{calories}} calories</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="foodContent">
        </tbody>
    </table>
</script>

<script id="food-template" type="text/x-handlebars-template">
    <tr>
        <th>{{ name }}</th>
        <td>{{ calories }}</td>
        <td>{{ price }}</td>
    </tr>
</script>
