// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {

    .container {
        font-family: "Open Sans", sans-serif;
        max-width: 960px;
        margin: 0 auto;
    }

    section.module.parallax {
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .parallax-1 {
        background: url(image_path("tacobell.jpg")) no-repeat fixed;
    }

    .parallax-2 {
        background: url(image_path("tacobell2.jpg")) no-repeat fixed;
    }
}