// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
    .container {
        font-family: "Open Sans", sans-serif;
        max-width: 960px;
        margin: 0 auto;
        z-index: 10;
    }

    section.module.parallax {
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            pointer-events: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.4);
        }
    }

    .parallax-1 {
        background: url(image_path("tacobell.jpg")) no-repeat fixed;
    }

    .hero-unit {
        top: 50%;
        transform: translateY(-50%);
        padding-left: 25%;
        padding-right: 25%;
        position: relative;
        text-align: center;
        vertical-align: middle;
        color: white;
    }

    .floating-text {
        background: rgba(0,0,0,0.4);
    }
}